<nav class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
  <img class="brand-logo" src="assets/nie.png" alt="NIE Logo" width="34">
  <span style=" border-left: 1px solid #242466 ;
     height: 70px; margin-left: 8px;"></span>
  PLACEMENT <span style="font-weight: 330;">PORTAL</span>
  </a>
</nav>

<div class="displayTable" style="background-color: #ffff;">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 style="color: #ffff;">Reset Password</h3>

      <p style="color: #ffff;" class="text-center">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" style="background-color: #b31414;" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span style="color: black;">Go back to ? <span style="color: black;" class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>