
.landing-section{
    display: flex;
    width: 100%;
    height: 95vh;
    align-items: center;
}
.landing-section-content{
    width: 100%;
}
.title{
    padding:5%;
}
.main-title{
    color: #242466;
    font-size:7vw;
   
    font-weight: bold;
    line-height: 100px;
}
.second-title{
    font-weight: 100;
}
.main-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stat-number{
color:  rgba(54, 162, 235, 0.6);
font-size: 7vw;
font-weight: bold;
}
.stat-desc{
    text-align: center;
    font-size: 2vh;
    font-weight: lighter;
}
.flex-parent{
    display: flex;
    background-color: rgb(255, 255, 255);  
    flex-direction: column;  
    justify-content: center;
    
}

.insightBranch{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insightBranch{
    /* padding: 5%; */
    background-color:#f2fcff;
    border: 1px #def5fc solid;
}

.insightBranch-content:first-child{
    width: 60%;
   
}

.insightBranch-content:nth-child(2){
    margin-left: 7%;
    width: 33%;
   
}
.number-stat{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.number-stat-content {
margin-top: 5%;
}

.number-stat-content h3{
    color: rgba(255, 99, 132, 1);

  margin:0;
}
.number-stat-content:nth-child(2) h3{
   
    color: rgba(54, 162, 235, 1);
  margin:0;
}

/* SECOND SETCION */
.insightRow3Content{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    display: flex;
    flex-direction: column;  
    width: 20%;
}
.insightRow3Content-stat{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}

.insightRow4Content-stat{
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

.insightRow3Content-stat h3{
    margin:3%;
}
.insightRow3Content-stat h3:first-child{
    color: rgba(255, 99, 132, 1);
}
.insightRow3Content-stat h3:nth-child(2){
    color:rgba(54, 162, 235, 1);
}
.insightRow3Content-stat h3:nth-child(3){
    color: rgba(255, 205, 86, 1)
}

.insightRow4Content-stat h6{
    margin:3%;
}
.insightRow4Content-stat h6:first-child{
    color: rgba(255, 99, 132, 1);
}
.insightRow4Content-stat h6:nth-child(2){
    color:rgba(54, 162, 235, 1);
}
.insightRow4Content-stat h6:nth-child(3){
    color: rgba(255, 205, 86, 1)
}

.insightTop{
    display: flex;
    flex-direction: row; 
}
.insightTopContent{
    width: 50%;
    border: rgb(255, 255, 255) solid;
}
.insightRow3{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.insightRow3Content{
    margin: 1%;
    background-color:#f2fcff;
    width: 33.33333%;
    justify-content:center;
    /* max-width: 20%;
    justify-content:space-around; */
    border: 1px #def5fc solid;
    display: flex; 
}
.main-row-4{
       display: flex;
    flex-direction: row;
    width: 100%;
}
.insightRow4-1{
    background-color:#f2fcff;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    /* background-color: lightskyblue; */
}

.insightRow4-2{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44%;
    margin-left: 1%;
    background-color:#f2fcff;
    border-left: 15px #ffffff solid;
    /* background-color: lightskyblue; */
}
.insightRow4{
    background-color:#f2fcff;
    width: 18%;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    align-items: left;
}
.insightRow4Content{
    max-width: 60%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row; 
    display: flex;
    align-items: center; 
    justify-self: center;
    

}

.insightRow4Content:first-child{
   
}


  


/* RESPONSIVE */
/* TABLET */
@media (max-width: 800px) {
    .insightBranch{
        
        flex-direction: column; 
    }

    .insightRow4{
    width: 100%;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.insightRow4-1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: lightskyblue; */
}
.insightRow4-2{
    border-top: 15px #ffffff solid;
    border-left: 0px #ffffff solid;

    width: 100%;
}
.main-row-4{
    background-color:#f2fcff;
    border: 1px #def5fc solid;
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .insightBranch-content:first-child{
        width: 100%;

    }
    .insightBranch-content:nth-child(2){
        width: 80%;
        margin-left: 0%;
    }
    .insightTop{ 
      flex-direction: column;
    }
    .insightTopContent{
        width: 100%;
       
    }
    .insightRow3{
        flex-direction: column;
    }
    
    
    .insightRow3Content{
        width: 100%;
    }
    .insightBranch canvas{ 
    
        height:250%!important;
        width: 100%!important;
    }
    
    
  }

  /* SMALL MOBILE */
  @media (max-width: 350px) {
    .number-stat{
        flex-direction: column;
    }
    .number-stat-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  }

  /* MOBILE LARGE */
  @media (max-width: 450px) {
    .landing-section{
        display: flex;
        width: 100%;
        height: 60vh;
        align-items: center;
    }
    .title{
        padding:0%;
    }
    .main-stats{
        display: flex;
        flex-direction: column;
       
    }
    .main-title{
        line-height:normal;
    }
    .stat{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

  }

  /* 4K SCREEN */
  @media (min-width: 1450px) {
    .main-title{
        line-height:normal;
    }
    .sub-title{
        font-size: 1vw;
    }

  }