.flex-parent{
    display: flex;
    background-color: rgb(255, 255, 255);  
    flex-direction: column;  
    justify-content: center;
    
}
.insightBranch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insightBranch canvas{ 
    /* height:30%!important; */
    width: 100%!important;
}

.insightTop{
    display: flex;
    flex-direction: row; 
}
.insightTopContent{
    width: 50%;
    border: rgb(255, 255, 255) solid;
}
.insightRow3{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.insightRow3Content{
    /* width: 25%;
    justify-content:center; */
    max-width: 20%;
    justify-content:space-around;
    border: rgb(255, 255, 255) solid;
    display: flex;
    
}


/* RESPONSIVE */
/* TABLET */
@media (max-width: 800px) {
    .insightTop{
      flex-direction: column;
    }
    .insightTopContent{
        width: 100%;
        height: 33vh;
    }
    .insightRow3{
        flex-direction: column;
    }
    
    
    .insightRow3Content{
        width: 100%;
    }
    .insightBranch canvas{ 
    
        height:250%!important;
        width: 100%!important;
    }
    
    
  }
