<nav class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
    <img class="brand-logo" src="assets/nie.png" width="34">
    <span style=" border-left: 1px solid #242466 ;
       height: 70px; margin-left: 8px;"></span>
    PLACEMENT <span style="font-weight: 330;">PORTAL</span>
    </a>
 </nav>
 <nav class="col-md-2 d-md-block bg-light sidebar">
    <app-nav-bar></app-nav-bar>
 </nav>
 <!-- Main content -->
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">
       <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h4  style="color: #242466;">Insights</h4>
       </div> -->

       <div class="landing-section">
          <div class="landing-section-content">
          <div class="title">
         <div class="main-title">
            <p>WELCOME <span class="second-title"><br>BACK</span></p>
         </div>
         <div class="sub-title">
            <small>One place to manage all the placement replated operations and get more insights to placement replated data.</small>
         </div>
      </div>
         <div class="main-stats">

            <div class="stat">
            <div class="stat-number">{{totalplaced}}</div>
            <div  class="stat-desc">Placed</div>
            </div>

            <div class="stat">
               <div class="stat-number">{{mass+core+dream}}</div>
               <div  class="stat-desc">Companies </div>
            </div>

            <div class="stat">
               <div class="stat-number">{{solved}}</div>
               <div class="stat-desc">Solved Tickets</div>
            </div>

            <div class="stat">
               <div class="stat-number">{{applieddream+appliedcore+appliedmass}}</div>
               <div class="stat-desc">Applications</div>
            </div>

         </div>
      </div>
       </div>


    
       
       <div class="flex-parent">
          <!-- FIRST SECTION -->
          <div class="first-second-section">
          <div class="insightBranch">
            <div class="insightBranch-content">
               <canvas id="Chartbar"></canvas>
            </div>
            <div class="insightBranch-content">
               <canvas id="Chartsample"></canvas>
               <div class="number-stat">
                  <div class="number-stat-content">
                     <h3>{{totalplaced}}</h3>
                  </div>
                  <div class="number-stat-content">
                     <h3>{{totalunplaced}}</h3>
                  </div>
               </div>
            </div>
          </div>
          <br>

          
         

          <!-- SECOND SECTION -->
          <div class="insightRow3">
            <div class="insightRow3Content">
               <canvas id="Charttier"></canvas>
               <div class="insightRow3Content-stat">
                  <h3>{{core}}</h3>
                  <h3>{{mass}}</h3>
                  <h3>{{dream}}</h3>
               </div>
            </div>
            <div class="insightRow3Content">
               <canvas id="Chartcompanies"></canvas>
               <div class="insightRow3Content-stat">
                  <h3>{{corecompanystudents  | number : '1.0-0'}}</h3>
                  <h3>{{masscompanystudents  | number : '1.0-0'}}</h3>
                  <h3>{{dreamcompanystudents  | number : '1.0-0'}}</h3>
            
               </div>
            </div>
            <div class="insightRow3Content">
               <canvas id="Chartaveragepackage"></canvas>
               <div class="insightRow3Content-stat">
                  <h3>{{this.coretotalpackage/this.core  | number : '1.2-2'}}</h3>
                  <h3>{{this.masstotalpackage/this.mass  | number : '1.2-2'}}</h3>
                  <h3>{{this.dreamtotalpackage/this.dream  | number : '1.2-2'}}</h3>
               </div>

            </div>
         
         </div>

         <br>
      </div>


        
<!-- THIRD SECTION -->
<div class="insightTop">
   <div class="insightTopContent">
      <canvas id="Chartbranchpackage"></canvas>
   </div>
   <div class="insightTopContent">
      <canvas id="Chartbranchcompanies"></canvas>
   </div>
   </div>

<br>
<br>
         
<!-- FOURTH SECTION -->

            <div style="background-color:#f2fcff;" class="main-row-4">

            <div class="insightRow4-1">
               <canvas id="intakealltiers"></canvas>
            </div>

            <div  class="insightRow4" style="margin-top: auto;margin-bottom: auto;" >
                <div class="insightRow4Content" >
                   <canvas id="intakemass"></canvas>
                   <div class="insightRow4Content-stat">
                     <h6 style="margin-bottom: 30%;margin-top: 80%;">30%</h6>
                     <h6>70%</h6>
                  </div>
                </div>
                <div class="insightRow4Content">
                   <canvas id="intakecore"></canvas>
                   <div  class="insightRow4Content-stat">
                     <h6 style="margin-bottom: 30%;margin-top: 80%;">20%</h6>
                     <h6>80%</h6>
                
                  </div>
                </div>
                <div class="insightRow4Content">
                   <canvas id="intakedream"></canvas>
                   <div class="insightRow4Content-stat">
                     <h6 style="margin-bottom: 30%;margin-top: 80%;">75%</h6>
                     <h6>25%</h6>
                     
                  </div>
                </div>
             </div>

             <div class="insightRow4-2">
               <canvas id="BranchPackagePlaced"></canvas>
            </div>

            </div>

            <br>

            <div class="insightTop">
               
               <div class="insightTopContent">
               </div>
               </div>
   
       </div>
       
       <div class="main-row5">

         <div class="contet"></div>

       </div>





    </div>
 </main>