<nav [style]="blurbackground" class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
    <img class="brand-logo" src="assets/nie.png" alt="positronX.io Logo" width="34">
    <span style=" border-left: 1px solid #242466 ;
       height: 70px; margin-left: 8px;"></span>
    PLACEMENT <span style="font-weight: 330;">PORTAL</span>
    </a>
 </nav>
 <nav [style]="blurbackground" class="col-md-2 d-md-block bg-light sidebar">
    <app-nav-bar></app-nav-bar>
 </nav>
 <main  role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div [style]="blurbackground" class="inner-adjust">
       <div  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h4  style="color: #242466;">Students List</h4>
          <mat-slide-toggle (change)="changeall($event)" [checked]="isAllChecked" color=primary><span style="font-size: 16px;">Allow edit Profile</span></mat-slide-toggle>
       </div>
       <div style="cursor: pointer;"  >
         <ng2-smart-table (userRowSelect)="rowclick($event.data)" style="background-color: #242466;" [settings]="settings" [source]="data"></ng2-smart-table>
       </div>
    </div>


<!-- Shafia workspace -->



    <div  style="overflow:scroll;
    width: 70%;height: 73%;background-color: #ffffff;" *ngIf = 'isOpen'  id="modal">
    <div style="width: 94%; margin-left: 2%;" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4  style="color: #242466;">{{FName}}{{Sname}}</h4>
      <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>

   </div>      <div class="row" style="margin-top: 20px;">


      <div  >
         
          <div class="column">
            <div class="card" style="color: #242466; font-family: 'Poppins', sans-serif">
              <p><b>USN</b>  {{USN}} </p>
              <p><b>Branch</b> : {{Branch}} </p>
              <p><b>Semester</b> : {{CurSem}}  </p>
              <p><b>Section</b> : {{Section}} </p>
              <p><b>E-mail</b> : {{PEmail}}</p>
              <p><b>College e-mail</b> : {{PEmail}} </p>
              <p><b>Phone number</b> : {{PEmail}} </p>
              <p><b>Gaudian's phone number</b> : {{GPhone}} </p>
              <p><b>DOB</b> : 03/04/1999 </p>
              <p><b>Permanent Address</b> : {{PerAddress}} </p>
              </div>
              </div>
              <div class="column">
              <div class="card" style="color: #242466; font-family: 'Poppins', sans-serif">
              <p><b>10th Board</b> : {{TenthBoard}} </p>
              <p><b>10th Institute</b> : {{TenthInstitute}} </p>
              <p><b>10th %</b> : {{TenthMarks}} </p>
              <p><b>10th passing year</b> : {{TenthQyear}} </p>
              <p><b>12th Board</b> : {{PreUniBoard}}</p>
              <p><b>12th Institute</b> : {{PreUniInstitute}} </p>
              <p><b>12th %</b> : {{PreUniMarks}} </p>
              <p><b>12th passing year</b> : {{PreUniQyear}} </p>
              <p><b>cgpa</b> : {{CGPA}} </p>
              <p><b>Current Backlogs</b> : {{CurArr}} </p>
              <p><b>Cleared Backlogs</b> : {{ClearArr}} </p>
            </div>
           
          </div>

       
          <div class="column">
            <div class="card" style="color: #242466; font-family: 'Poppins', sans-serif">
               <p><b>Placed Companies</b>: {{placedCname}}</p>
               <mat-slide-toggle (change)="toggle($event)" [checked]="isChecked" color=primary><span style="font-size: 16px;">Allow edit Profile</span></mat-slide-toggle>

            </div>
         </div>
      </div>
      </div>
      <p style="float: right; margin-right:10px; margin-bottom: 10px;"> <a target="_blank" href={{resume}}><button mat-flat-button color="warn" style="background-color:#242466;" >View Resume</button></a></p>
    </div>
 </main>


 <!-- Shafia workspace ends -->
