.displayTable{
    background-color: #ffff;
}
.authBlock{
    background-color: #242466;
}
.displayTable .btn{
    background-color: #b31414;
}
.orinner{
    background: #242466;
}
.or{
    background-color: #242466;
    color: black;
}

