<nav class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
  <img class="brand-logo" src="assets/nie.png" alt="NIE Logo" width="34">
  <span style=" border-left: 1px solid #242466 ;
     height: 70px; margin-left: 8px;"></span>
  PLACEMENT <span style="font-weight: 330;">PORTAL</span>
  </a>
</nav>

<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3 style="color: white;">Sign Up</h3>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btn-blue btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">OR</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
      
    </div>

    <div class="redirectToLogin">
      <span style="color: black;">Already have an account? <span class="redirect" style="color: black;" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>

</div>
