<nav class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
  <img class="brand-logo" src="assets/nie.png" alt="NIE Logo" width="34">
  <span style=" border-left: 1px solid #242466 ;
     height: 70px; margin-left: 8px;"></span>
  PLACEMENT <span style="font-weight: 330;">PORTAL</span>
  </a>
</nav>

<div class="displayTable" style="background-color: #ffff;">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3 style="color: #ffff;">Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" style="background-color: #b31414;"  class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or" style="font-size: 18px"><span class="orInner">OR</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn btn-red googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password" style="color: #ffff;">Forgot Password?</span>
      </div>
    </div>

   <div class="redirectToLogin" style="color: black;">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user" style="color: black;"> Sign Up</span></span>
    </div> 

  </div>
</div>
