<div class="sidebar-sticky" style="margin-top: 13px;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-company" style="color: #242466;">
          <i class="fas fa-plus"></i>Add Company
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/company-list" style="color:#242466;">
          <i class="fas fa-list"></i>Company List 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students" style="color:#242466;">
          <i class="fas fa-users"></i>Students
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" style="color:#242466;">
          <i class="fas fa-calendar"></i>Announcements
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/studenttickets" style="color:#242466;">
          <i class="fas fa-ticket-alt"></i>Student Tickets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/insights" style="color:#242466;">
          <i class="fas fa-chart-line"></i>Insights
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/history" style="color:#242466;">
          <i class="fas fa-history"></i>History
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="authService.SignOut()" style="color: red;">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </ul>
  </div>