<div class="sidebar-sticky" style="margin-top: 13px;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/add-company" style="color: #242466;">
          <i class="fas fa-plus"></i>Add Company
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/company-list" style="color:#242466;">
          <i class="fas fa-list"></i>Company List 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/events" style="color:#242466;">
          <i class="fas fa-calendar"></i>Announcements
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="authService.SignOut()" style="color: red;">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </ul>
  </div>