<nav class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
      <img class="brand-logo" src="assets/nie.png" alt="positronX.io Logo" width="34">
      <span style=" border-left: 1px solid #242466 ;
      height: 70px; margin-left: 8px;"></span>
  PLACEMENT <span style="font-weight: 330;">PORTAL</span>
    </a>
  </nav>
  
  <nav class="col-md-2 d-md-block bg-light sidebar">
    <app-nav-bar></app-nav-bar>
   </nav>
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="inner-adjust">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h4  style="color: #242466;">Company List</h4>
                  <button mat-raised-button style="float: right;" (click)="openDialog()">Pick one</button>
  
                </div>
                
                <!-- <div class="pricing-header mx-auto">
                
            <div *ngIf="!datapresent">
              <h1>
                no  data
              </h1>
            </div>
                 
                  <div style="overflow-x:auto; " class="table-responsive" *ngIf="datapresent">
    <table  class="table table-hover" frame=void rules=rows style="border: 2px; border-radius: 10px;">
      <thead>
        <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230)">Name</th>
        <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);">Branches</th>
        <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);">Last Date</th>
        <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);" >Edit</th>
        <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);" >Delete</th>
      </thead>
      <tbody >
        <tr *ngFor="let emp of list">
          <td>{{emp.Name}}</td>
          <td>{{emp.Branch}}</td>
          <td>{{emp.Date}}</td>
              <td class="text-center action-block">
                <i style="color: red;" class="far fa-edit" [routerLink]="['/edit-company/', emp.id]"></i></td>
                <td class="text-center action-block">
                  <i style="color: red;" class="far fa-trash-alt" (click)="deleteCompany(emp.id)"></i></td>
        </tr>
      </tbody>
    </table>
                  </div>
                </div> -->
    
          </div>
  
         
            <div *ngIf = 'isOpen'style="background-color: #242466;" class="authBlock">
              <h3 style="color: #ffff;">Reset Password</h3>
              <p style="color: #ffff;" class="text-center">HI</p>

              <form [formGroup]="eventForm" #resetEventForm="ngForm" novalidate>

              </form>


              <button mat-raised-button style="float: right;" (click)="closeDialog()">Close</button>
              <button mat-raised-button style="float: left;" (click)= "addevent(eventForm.value)">Add</button>
              
  
        
          </div>
        </main>
  
      
  
  
       