<nav [style]="test" class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
  <img class="brand-logo" src="assets/nie.png" alt="positronX.io Logo" width="34">
  <span style=" border-left: 1px solid #242466 ;
     height: 70px; margin-left: 8px;"></span>
  PLACEMENT <span style="font-weight: 330;">PORTAL</span>
  </a>
</nav>
<nav [style]="test" class="col-md-2 d-md-block bg-light sidebar">
  <app-nav-bar ></app-nav-bar>
</nav>
<!-- Main content -->
<div  style="height: 100%; width: 100%;z-index: 1;">
  <main  role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
     <div [style]="test" class="inner-adjust">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <h4  style="color: #242466;">Annoncements</h4>
           <button mat-raised-button style="float: right;background-color:#242466; color: white;" (click)="openDialog()">Add Annoncement</button>
        </div>
        <div class="pricing-header mx-auto">
           <div *ngIf="!datapresent">
              <h1>
                 no  data
              </h1>
           </div>
           <div style="overflow-x:auto; " class="table-responsive" *ngIf="datapresent">
              <table  class="table table-hover" frame=void rules=rows style="border: 2px; border-radius: 10px;">
                 <thead>
                    <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230)">Name</th>
                    <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);">Description</th>
                    <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);" >Edit</th>
                    <th style="padding: 10px; border-bottom:1px solid rgb(230, 230, 230);" >Delete</th>
                 </thead>
                 <tbody >
                    <tr *ngFor="let emp of list">
                       <td>{{emp.Name}}</td>
                       <td>{{emp.Description}}</td>
                       <td class="text-center action-block">
                          <i style="color: red;" class="far fa-edit" (click)="updateEvent(emp)"></i>
                       </td>
                       <td class="text-center action-block">
                          <i style="color: red;" class="far fa-trash-alt" (click)="deleteEvent(emp.id)"></i>
                       </td>
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
     </div>
     <div *ngIf = 'isOpen' class="authBlock" id="modal">
        <h3 style="color: #242466">Add Annoncement</h3>
        <form [formGroup]="eventForm" #resetEventForm="ngForm" novalidate>
        <mat-form-field style="width: 100%;" appearance="outline" class="example-full-width">
           <mat-label>Title *</mat-label>
           <input matInput formControlName="Name">
           <mat-error *ngIf="handleError('Name', 'required')">
              You must provide a <strong>Announcement name</strong>
           </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;"  appearance="outline" class="example-full-width" >
           <mat-label>Description *</mat-label>
           <textarea id="et" cols="500" rows="9
              " matInput formControlName="Description"></textarea>
           <mat-error *ngIf="handleError('Description', 'required')">
              You must provide an <strong>a description</strong>
           </mat-error>
        </mat-form-field>
        </form>
        <button *ngIf='isupdate' mat-button style="float: right;background-color:#242466; color: white;"(click)= "saveEvent(eventForm.value)">Update</button>
        <button *ngIf='!isupdate' mat-button style="float: right;background-color:#242466; color: white;"(click)= "addevent(eventForm.value)">Add</button>
        <button mat-button mat-dialog-close style="float: right; margin-right:10px;" (click)="closeDialog()">Close</button>
     </div>
  </main>
</div>