<nav class="navbar navbar-light fixed-top  flex-md-nowrap p-0" style=" background-color: #CDECF5;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:#242466; font-size: 30px; font-weight: 900; line-height: 0px;">
    <img class="brand-logo" src="assets/nie.png" alt="positronX.io Logo" width="34">
    <span style=" border-left: 1px solid #242466 ;
    height: 70px; margin-left: 8px;"></span>
PLACEMENT <span style="font-weight: 330;">PORTAL</span>
  </a>
</nav>

<nav class="col-md-2 d-md-block bg-light sidebar">
  <app-nav-bar></app-nav-bar>
 </nav>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4  style="color: #242466;">Company List</h4>
              </div>
              
              <div class="pricing-header mx-auto">
              
                <!-- No data shows when their is no student data available -->
                <div class="no-data text-center" *ngIf="noData">
                  
                  <p class="nodata-msg">No companies added yet!</p>
                </div>
              
                <!-- Showing students data -->
                <div class="table-responsive" *ngIf="hideWhenNoStudent">
                  <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                    <thead>
                      <tr>
                        <th scope="col" class="w-7" >Image</th>
                        <th scope="col" class="w-25">Title</th>
                        <th scope="col" class="w-25">Breif Desc</th>
                        <th scope="col" class="w-25">Date</th>
                        <th class="text-center" scope="col" class="w-9">Delete</th>
                        <th class="text-center" scope="col" class="w-9">edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- *ngFor loop iterates over Student array and fetch the student's data -->
                      <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
                      <tr *ngFor="let student of Student | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
                        <th scope="row"><img src="{{student.aimage}}" style="width: 200px; height: 140px;"></th>
                        <td>{{student.atitle}}</td>
                        <td>{{student.adesc}}</td>
                        <td>{{student.adate}}</td>
                        <td class="text-center action-block">
                        <i style="color: red;" class="far fa-trash-alt" (click)="deleteStudent(student)"></i></td>

                          <td class="text-center action-block">
                            <i style="color: red;" class="far fa-edit" [routerLink]="['/edit-company/', student.$key]"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Pagination -->
                <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
  
        </div>
      </main>

    


     